<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBqxn0pVYx1tSjBRlxkLrB10SmKmBmWzFo</string>
	<key>GCM_SENDER_ID</key>
	<string>1013275023935</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stockFragrancebali</string>
	<key>PROJECT_ID</key>
	<string>gestionstockfragrancebali</string>
	<key>STORAGE_BUCKET</key>
	<string>gestionstockfragrancebali.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1013275023935:ios:ad79016d87af842664768a</string>
</dict>
</plist>